<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <div class="alert alert-success" th:if="${successMessage}!=null" th:text="#{${successMessage}}"/>
    <form th:action="@{/admin/editUser}" th:object="${editUserForm}"
          method="post">
        <input type="hidden" th:field="*{idAccount}"/>
        <div class="col-lg-12 form-group">
                <th:block th:include="fragments/editBaseUserInformation" />
            <div class="col-lg-4">
                <div class="form-group">
                    <label th:text="#{edit.user.authorities}" for="authorities"> </label>
                    <div id="authorities">
                        <div th:each="authority : ${T(pl.lodz.p.acadart.models.Authority).values()}">
                            <input type="checkbox" th:value="${authority}" th:field="*{authorities}"/>
                            <label th:for="${#ids.prev('authorities')}" th:text="#{${authority.displayName}}"></label>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('authorities')}"
                     th:errors="*{authorities}"></div>
                <div class="form-group">
                    <input type="checkbox" id="enabled" th:value="${enabled}" th:field="*{enabled}"/>
                    <label th:for="enabled" th:text="#{edit.user.active}"/>

                    <input type="checkbox" id="locked" th:value="${accountNonLocked}" th:field="*{accountNonLocked}"/>
                    <label th:for="enabled" th:text="#{edit.user.locked}"/>
                </div>

                <div class="form-group">

                    <a class="btn btn-primary" id="edit-password-button" th:onclick="'handleEditPasswordButton()'"><span
                            th:text="#{edit.user.change.password}"></span></a>
                    <a class="btn btn-primary" style="display: none;" id="abort-edit-password-button" th:onclick="'abortEditPasswordButton()'"><span
                            th:text="#{edit.user.change.password.abort}"></span></a>
                </div>
                    <div style="display: none;" id="edit-password-form" class="form-group">
                        <label th:for="new-password" th:text="#{edit.user.new.password}"/>
                        <input class="form-control" type="password" id="new-password" th:field="*{newPassword}"/>
                        <label th:for="confirm-new-password" th:text="#{edit.user.new.password.confirm}"/>
                        <input class="form-control" type="password" id="confirm-new-password" th:field="*{confirmNewPassword}"/>
                    </div>
                <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('newPassword')}"
                     th:errors="*{newPassword}"></div>
            </div>
        </div>

        <row>
            <div class="col-lg-2 pull-right">
                <input type="submit" class="btn-primary btn" th:value="Zaktualizuj"/>
            </div>
        </row>
        <input type="hidden" th:field="*{currentEmail}"/>
        <input type="hidden" th:field="*{currentLogin}"/>
        <input type="hidden" th:field="*{currentPassword}"/>
        <div id="details-modal" class="modal fade" role="dialog"/>
    </form>
</section>
</body>
</html>