<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">
<body>
<section layout:fragment="content">
    <div>
        <table id="accounts-table" class="display table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th th:text="#{datatables.login}"/>
                <th th:text="#{datatables.email}"/>
                <th th:text="#{datatables.name}"/>
                <th th:text="#{datatables.surname}"/>
                <th th:text="#{datatables.authorities}"/>
                <th th:text="#{datatables.details}"/>
                <th th:text="#{datatables.edit}"/>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th class="filtered"/>
                <th class="filtered"/>
                <th class="filtered"/>
                <th class="filtered"/>
                <th/>
                <th/>
                <th/>
            </tr>
            </tfoot>
            <tbody>
            </tbody>
        </table>
    </div>
    <input id="adminLocale" type="hidden" th:value="#{common.admin}"/>
    <input id="redactorLocale" type="hidden" th:value="#{common.redactor}"/>
    <input id="reviewerLocale" type="hidden" th:value="#{common.reviewer}"/>
    <input id="authorLocale" type="hidden" th:value="#{common.author}"/>
    <div id="details-modal" class="modal fade" role="dialog"/>
</section>
</body>
</html>