<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">
<body>
<section layout:fragment="content">

        <div class="col-lg-12" th:object="${assembleArticleForm}">
            <div>
                <table class="table">
                    <tr>
                        <td width="30%">
                            <span th:text="#{assemble.review.reviewer}"/>
                        </td>
                        <td width="25%">
                            <span th:text="#{assemble.review.decision}"/>
                        </td>
                        <td width="5%">
                            <span th:text="#{assemble.review.details}"/>
                        </td>
                    </tr>
                    <tr th:each="review : ${articleDTO.reviews}">
                        <td>
                            <span th:text="#{${review.reviewer.title.displayName}} +' '+ ${review.reviewer.name} +' '+ ${review.reviewer.surname}"/>
                        </td>
                        <td>
                            <span th:text="#{${review.decision.displayName}}"/>
                        </td>
                         <td>
                             <a class="btn btn-primary" th:id="'reviewPopover'+${review.idReview}" th:onclick="'showReviewDetailsPopover(\''+${review.idReview}+'\')'"><span class="glyphicon glyphicon-search"/></a>
                         </td>
                    </tr>
                </table>
            </div>
        <form th:action="@{/redactor/articles/assemble/}" method="post">
            <div class="form-group">
                <label th:text="#{assemble.article.decision}" for="decision"> </label>
                <select id="decision" th:field="*{decision}" class="form-control input-medium result-select">
                    <option th:each="decision : ${T(pl.lodz.p.acadart.models.Decision).values()}"
                            th:value="${decision}" th:if="${decision.name()!='__${T(pl.lodz.p.acadart.models.Decision).REFUSE_REVIEWING.name()}__'}" th:text="#{${decision.displayName}}"></option>
                </select>
            </div>
            <label th:text="#{assemble.redactor.comment}" for="redactors-comment"> </label>
            <textarea class="form-control" id="redactors-comment" type="text" th:placeholder="#{assemble.redactor.comment}" rows="3" th:field="*{redactorsComment}"></textarea>
            <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('redactorsComment')}"
                 th:errors="*{redactorsComment}"></div>

                <input type="hidden" th:field="*{idArticle}"/>
                <input  type="submit" class="btn btn-primary form-control" th:value="#{assemble.article.submit}"/>

        </form>
            </div>
</section>
</body>
</html>