<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">
<body>
<section layout:fragment="content">

    <div th:if="${!#sets.isEmpty(redactorsReviewers)}" th:object="${chooseReviewersForm}">
    <form th:action="@{/redactor/articles/assign}"  method="post">
        <div class="checkbox" th:each="reviewer : ${redactorsReviewers}">
            <input type="checkbox" th:value="${reviewer.login}" th:field="*{reviewersLogins}"/>
            <a th:onclick="'handleShowDetailsButton(\'' + ${reviewer.login} + '\');'"
               data-toggle="modal"><label th:for="${#ids.prev('reviewersLogins')}"
                                          th:text="#{${reviewer.title.displayName}}+' '+${reviewer.name}+' '+${reviewer.surname}"></label></a>
        </div>
        <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('reviewersLogins')}"
             th:errors="*{reviewersLogins}"></div>
        <input type="hidden" th:field="*{idArticle}"/>
        <input type="submit" class="btn btn-primary" value="Rozpocznij proces recenzowania"/>
    </form>
    </div>
    <div th:if="${#sets.isEmpty(redactorsReviewers)}">
        <label class="alert-error alert" th:text="#{assign.reviewers.not.found}"/>
    </div>
    <div id="details-modal" class="modal fade" role="dialog"/>

</section>
</body>
</html>



