<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">
<head>
    <title th:text="#{my.reviewers.title}"></title>
</head>
<body>
<section layout:fragment="content">

    <form th:action="@{/redactor/myReviewers}" th:object="${chooseReviewersForm}" method="post">
            <div class="checkbox" th:each="reviewer : ${allReviewers}">
                <input type="checkbox" th:value="${reviewer.login}" th:field="*{reviewersLogins}"/>
                <a th:onclick="'handleShowDetailsButton(\'' + ${reviewer.login} + '\');'"
                   data-toggle="modal">
                    <label th:for="${#ids.prev('reviewersLogins')}"
                           th:text="#{${reviewer.title.displayName}}+' '+${reviewer.name}+' '+${reviewer.surname}"></label></a>
            </div>
            <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('reviewersLogins')}"
                 th:errors="*{reviewersLogins}"></div>
            <input type="hidden" th:field="*{redactorsLogin}"/>
            <input type="submit" class="btn btn-primary form-control" th:value="#{my.reviewers.submit}"/>
    </form>
    <div id="details-modal"  class="modal fade" role="dialog"/>
</section>
</body>
</html>


