<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">
<body>
<section layout:fragment="content">
    <div>
        <form method="post" th:action="@{/author/myArticles/add} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" enctype="multipart/form-data" th:object="${addArticleForm}">
                <div class="form-group">
                    <label th:text="#{add.article.title}" for="title"> </label>
                    <input id="title" type="text" class="form-control" th:placeholder="#{add.article.title}"
                           th:field="*{title}"/>
                    <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('title')}"
                         th:errors="*{title}"></div>
                </div>
            <div class="form-group">
                <label th:text="#{add.article.abstract}" for="article-abstract"> </label>
                <textarea class="form-control" rows="3"  id="article-abstract" type="text"  th:placeholder="#{add.article.abstract}"
                       th:field="*{articleAbstract}"/>
                <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('articleAbstract')}"
                     th:errors="*{articleAbstract}"></div>
            </div>
            <label class="btn btn-primary">
                <span th:text="#{add.article.file}"></span>
               <input type="file" style="display:none;" onchange="$('#upload-file-info').html($(this).val().replace('C:\\fakepath\\', ''))" th:field="*{multipartFile}"/>
            </label>
            <span class='label label-info' id="upload-file-info"></span>
                <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('multipartFile')}"
                     th:errors="*{multipartFile}"></div>
            <div class="alert alert-danger" th:if="${fileTooBig}" th:text="#{${fileTooBig}}"/>

            <div class="form-group">
                <label th:text="#{add.article.comment}" for="authors-comment"> </label>
                <textarea class="form-control" rows="3" id="authors-comment" type="text"  th:placeholder="#{add.article.comment}"
                       th:field="*{authorsComment}"/>
                <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('authorsComment')}"
                     th:errors="*{authorsComment}"></div>
            </div>
            <div class="form-group"  align="right">
                <button class="btn btn-primary" type="submit" th:text="#{add.article.submit}" ></button>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </div>
</section>
</body>
</html>