<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">
<body>
<section layout:fragment="content">
    <div>
        <label class="alert alert-success" th:if="${messageArticleAdded}" th:text="#{${messageArticleAdded}}"/>
        <table id="articles-table" class="display">
            <thead>
            <tr>
                <th th:text="#{datatables.title}"/>
                <th th:text="#{datatables.creation.date}"/>
                <th th:text="#{datatables.status}"/>
                <th th:text="#{datatables.decision}"/>
                <th></th>
                <th th:text="#{datatables.details}"></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="article-details-modal" class="modal fade" role="dialog"/>
    <th:block th:include="fragments/articleStatusEnumsTranslations" />
    <th:block th:include="fragments/decisionEnumsTranslations" />
</section>

</body>
</html>