<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div id="article-details-modal" class="modal-dialog  modal-lg">
    <div class="modal-content" th:object="${articleDto}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" th:text="#{article.details}"></h4>
            <div align="right">
                <label th:text="#{article.date.added}"></label><span th:text="*{creationDate}"/>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <h4 align="center" th:if="*{decision}">
                            <label for="decision" th:text="#{article.decision}"></label>
                            <span id="decision" th:text="#{*{decision.displayName}}"></span>
                        </h4>
                        <div align="center">
                            <label class="alert alert-info" th:text="*{title}"></label>
                        </div>
                        <div th:if="${!reviewerContext}" align="center">
                            <span th:text="#{*{author.title.displayName}}+' '+*{author.name}+' '+*{author.surname}"/>
                        </div>
                        <div th:object="${articleDto.uploadedFile}" align="center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary" th:href="@{/file/preview/__*{idUploadedFile}__}"
                                   role="button"
                                   onclick="return !window.open(this.href, '', 'width=1000,height=700')"
                                   target="_blank">
                                    <span th:text="#{article.preview}"></span>
                                </a>
                                <a class="btn btn-primary" th:href="@{/file/download/__*{idUploadedFile}__}"
                                   role="button">
                                    <span th:text="#{article.download}"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="well">
                                <fieldset>
                                    <legend th:text="#{article.abstract}"/>
                                    <p th:text="*{articleAbstract}"/>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6" th:if="${!#strings.isEmpty(articleDto.authorsComment)}">
                            <div class="well">
                                <fieldset>
                                    <legend th:text="#{article.authors.comment}"></legend>
                                    <p th:text="*{authorsComment}"></p>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-lg-6" th:if="${!#strings.isEmpty(articleDto.redactorsComment)}">
                            <div class="well">
                                <fieldset>
                                    <legend th:text="#{article.redactors.comment}"></legend>
                                    <p th:text="*{redactorsComment}"></p>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div th:if="${!authorContext}">
                        <div class="row" th:if="${not #sets.isEmpty(articleDto.reviews)}">
                            <div class="col-lg-12">
                                <table class="table-striped table table-hover">
                                    <tr>
                                        <th style="width:30%;" class="active" th:text="#{article.review.author}"></th>
                                        <th style="width:25%;" class="active" th:text="#{aritcle.review.email}"></th>
                                        <th style="width:15%;" class="active" th:text="#{aritcle.review.decision}"></th>
                                        <th style="width:10%;" class="active" th:text="#{article.review.comment}"></th>
                                        <th style="width:20%;" class="active"></th>
                                    </tr>
                                    <tr th:each="review : *{reviews}">
                                        <td style="width:30%;"><span
                                                th:text="${review.reviewer.name}+' '+${review.reviewer.surname}"></span>
                                        </td>
                                        <td style="width:25%;"><span th:text="${review.reviewer.email}"></span></td>
                                        <td style="width:15%;"><span th:text="#{${review.decision.displayName}}"></span>
                                        </td>
                                        <td style="width:10%;">
                                            <button type="button" class="btn btn-info btn" data-toggle="popover"
                                                    data-placement="top"
                                                    th:attr="data-content=${review.comment},data-trigger='focus'">
                                                <span th:text="#{article.details.review.comment}"></span></button>
                                        </td>
                                        <td style="width:20%;">
                                            <div th:object="${review.uploadedFile}" align="right">
                                                <div class="btn-group" role="group">
                                                    <a class="btn btn-primary"
                                                       th:href="@{/file/preview/__*{idUploadedFile}__}"
                                                       role="button"
                                                       onclick="return !window.open(this.href, '', 'width=1000,height=700')"
                                                       target="_blank">
                                                        <span th:text="#{article.preview}"></span>
                                                    </a>
                                                    <a class="btn btn-primary"
                                                       th:href="@{/file/download/__*{idUploadedFile}__}"
                                                       role="button">
                                                        <span th:text="#{article.download}"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div th:if="${authorContext}">
                        <div class="row" th:if="${not #sets.isEmpty(articleDto.reviews)}">
                            <div class="col-lg-12">
                                <table class="table-striped table table-hover">
                                    <tr>
                                        <th style="width:15%;" class="active" th:text="#{aritcle.review.decision}"></th>
                                        <th style="width:20%;" class="active"></th>
                                    </tr>
                                    <tr th:each="review : *{reviews}">
                                        <td style="width:15%;"><span th:text="#{${review.decision.displayName}}"></span>
                                        </td>
                                        <td style="width:20%;">
                                            <div th:object="${review.uploadedFile}" align="right">
                                                <div class="btn-group" role="group">
                                                    <a class="btn btn-primary"
                                                       th:href="@{/file/preview/__*{idUploadedFile}__}"
                                                       role="button"
                                                       onclick="return !window.open(this.href, '', 'width=1000,height=700')"
                                                       target="_blank">
                                                        <span th:text="#{article.preview}"></span>
                                                    </a>
                                                    <a class="btn btn-primary"
                                                       th:href="@{/file/download/__*{idUploadedFile}__}"
                                                       role="button">
                                                        <span th:text="#{article.download}"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        th:text="#{article.modal.close}"></span></button>
            </div>
        </div>
    </div>
</div>
<div id="review-details-modal" class="modal fade" role="dialog"/>
<script>
    $('[data-toggle="popover"]').popover();

</script>
</body>
</html>