<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<a th:object="${accountDto}" id="popoverData" class="btn" href="#" data-content="Popover with data-trigger" rel="popover" data-placement="bottom" data-original-title="Title" data-trigger="hover">
    <ul class="list-group">
        <li class="list-group-item" th:text="*{name}"></li>
        <li class="list-group-item" th:text="*{surname}"></li>
        <li class="list-group-item" th:text="*{login}"></li>
        <li class="list-group-item" th:text="*{email}"></li>
    </ul>
</a>
</body>
</html>