<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" th:title="#{details.details}"></h4>
        </div>
        <div class="modal-body" th:object="${accountDto}">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4 well well-sm" align="left">
                        <fieldset>
                            <legend th:text="#{details.basic.information}"></legend>
                            <ul style="list-style-type:none">
                                <li th:text="#{*{title.displayName}}+' '+*{name}+' '+*{surname}"/>
                                <li th:text="*{email}"/>
                                <li th:text="*{login}"/>
                                <li th:text="*{affiliation}"/>
                            </ul>
                        </fieldset>
                    </div>
                    <div class="col-lg-1"/>
                    <div class="col-lg-2 well well-lg">
                        <fieldset>
                            <legend th:text="#{details.roles}"></legend>
                            <div align="center">
                    <span th:each="authority : ${accountDto.authorities}">

                        <img th:if="${authority==T(pl.lodz.p.acadart.models.Authority).ADMINISTRATOR}"
                             th:src="@{/img/admin.png}"
                             title="#{common.administrator}" class="img-rounded"/>
                            <img th:if="${authority==T(pl.lodz.p.acadart.models.Authority).REDACTOR}"
                                 th:src="@{/img/redactor.png}" title="#{common.redactor}"
                                 class="img-rounded"/>
                    <img th:if="${authority==T(pl.lodz.p.acadart.models.Authority).AUTHOR}" th:src="@{/img/author.png}"
                         title="#{common.author}"
                         class="img-rounded img-sm"/>
                            <img th:if="${authority==T(pl.lodz.p.acadart.models.Authority).REVIEWER}"
                                 th:src="@{/img/reviewer.png}" title="#{common.reviewer}"
                                 class="img-rounded"/>
                    </span>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-1"/>
                    <div class="col-lg-4 well well-sm" align="right" th:object="${accountDto.address}">
                        <div align="left">
                            <fieldset>
                                <legend th:text="#{details.address}"></legend>
                                <ul style="list-style-type:none">
                                    <li th:text="*{country}"/>
                                    <li th:text="*{city}"/>
                                    <li th:text="*{streetNumberFlat}"/>
                                    <li th:text="*{postalCode}"/>
                                </ul>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-12">
                    <div class="list-group">
                        <p class="list-group-item disabled" th:text="#{details.articles}"></p>
                        <a th:each="article : ${accountDto.articles}"
                           th:id="'articlePopover'+${article.idArticle}"
                           th:onclick="'showArticleDetailsPopover(\''+${article.idArticle}+'\')'"
                           th:text="${article.title}" class="list-group-item"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="list-group">
                        <p class="list-group-item disabled" th:text="#{details.redactors}"></p>
                        <a href="#" th:each="redactor : ${accountDto.redactors}"
                           th:id="'redactorPopover'+${redactor.login}"
                           th:onclick="'showRedactorDetailsPopover(\''+${redactor.login}+'\')'"
                           th:text="${redactor.name}+' '+${redactor.surname}" class="list-group-item"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="list-group">
                        <p class="list-group-item disabled" th:text="#{details.reviewers}"></p>
                        <a th:each="reviewer : ${accountDto.reviewers}"
                           th:id="'reviewerPopover'+${reviewer.login}"
                           th:onclick="'showReviewerDetailsPopover(\''+${reviewer.login}+'\')'"
                           th:text="${reviewer.name}+' '+${reviewer.surname}" class="list-group-item"></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{details.close}"></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>