<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="col-lg-4">
<div class="form-group">
    <label th:text="#{registration.login}" for="login"> </label>
    <input id="login" type="text" class="form-control" th:placeholder="#{registration.login}"
           th:field="*{login}"/>
    <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('login')}"
         th:errors="*{login}"></div>
    <div class="alert alert-danger form-group" th:text="#{login.changed.logout}" th:if="${editMyAccount==true}" id="login-edition"/>
</div>
<div class="form-group">
    <label th:text="#{registration.email}" for="email"> </label>
    <input id="email" type="text" class="form-control" th:placeholder="#{registration.email}"
           th:field="*{email}"/>
</div>
<div class="alert alert-danger form-group" th:if="${#fields.hasErrors('email')}"
     th:errors="*{email}"></div>

<div class="form-group">
    <label th:text="#{registration.title}" for="title"> </label>
    <select id="title" th:field="*{title}" class="form-control input-medium result-select">
        <option th:each="title : ${T(pl.lodz.p.acadart.models.Title).values()}"
                th:value="${title}" th:text="#{${title.displayName}}"></option>
    </select>
</div>
<div class="form-group">
    <label th:text="#{registration.name}" for="name"></label>
    <input id="name" th:placeholder="#{registration.name}" class="form-control" type="text"
           th:field="*{name}"/>
    <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}"></div>
</div>
<div class="form-group">
    <label th:text="#{registration.surname}" for="surname"></label>
    <input id="surname" th:placeholder="#{registration.surname}" class="form-control" type="text"
           th:field="*{surname}"/>
    <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('surname')}"
         th:errors="*{surname}"></div>
</div>
</div>
<div class="col-lg-4">
    <div class="form-group">
        <label th:text="#{registration.affiliation}" for="affiliation"> </label>
        <input id="affiliation" type="text" class="form-control"
               th:placeholder="#{registration.affiliation}"
               th:field="*{affiliation}"/>
        <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('affiliation')}"
             th:errors="*{affiliation}"></div>
    </div>
    <div class="form-group">
        <label th:text="#{address.country}" for="country"></label>
        <input id="country" type="text" class="form-control" th:placeholder="#{address.country}"
               th:field="*{country}"/>
        <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('country')}"
             th:errors="*{country}"></div>
    </div>
    <div class="form-group">
        <label th:text="#{address.city}" for="city"></label>
        <input id="city" type="text" th:placeholder="#{address.city}" class="form-control"
               th:field="*{city}"/>
        <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('city')}"
             th:errors="*{city}"></div>
    </div>
    <div class="form-group">
        <label th:text="#{address.streetNumberFlat}" for="street-number-flat"></label>
        <input id="street-number-flat" th:placeholder="#{address.streetNumberFlat}"
               class="form-control"
               type="text" th:field="*{streetNumberFlat}"/>
        <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('streetNumberFlat')}"
             th:errors="*{streetNumberFlat}"></div>
    </div>
    <div class="form-group">
        <label th:text="#{address.postalCode}" for="postal-code"></label>
        <input id="postal-code" th:placeholder="#{address.postalCode}" class="form-control"
               type="text"
               th:field="*{postalCode}"/>
        <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('postalCode')}"
             th:errors="*{postalCode}"></div>
    </div>

    </div>
</body>
</html>