<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <link href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js" type="text/javascript" charset="utf8" ></script>
    <script th:src="@{/js/init-datatables.js}"></script>
    <script th:src="@{/js/init-datatables-articles.js}"></script>
    <script th:src="@{/js/init-datatables-redactors-articles.js}"></script>
    <script th:src="@{/js/init-datatables-reviewers-articles.js}"></script>
</head>
</html>