<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body th:fragment="navbar">
   <div id="wrapper">
	<nav class="navbar navbar-inverse navbar-fixed-top" >
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" th:href="@{/}" >AcadArt</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right inline">
					<li class="nav" id="roleSelector">

					</li>
					<li><a th:href="@{/account/myAccount}" class="navbar-link navbar-link-user" sec:authentication="name" ></a></li>
					<li><a href="javascript: document.logoutForm.submit()" th:text="#{navbar.logout}" class="navbar-link navbar-link-logout"></a></li>

				</ul>
			</div>
		</div>
		<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true"/>
		<div id="sidebar" class="collapse navbar-collapse navbar-ex1-collapse">
		</div>
	</nav>
</div>
</body>
</html>