<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div id="review-details-modal" class="modal-dialog modal-lg" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" th:title="#{details.details}"></h4>
        </div>
        <div class="modal-body" th:object="${reviewDto}">
            <div class="row">
                <div>
                    <span th:text="*{reviewer.name}+' '+*{reviewer.surname}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>