<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:object="${reviewDto}" id="reviewDetailsPopover" class="btn" href="#" data-content="Popover with data-trigger"
     rel="popover" data-placement="bottom" data-original-title="Title" data-trigger="hover">
    <ul class="list-group">
        <li class="list-group-item"><a th:href="@{/file/preview/}+*{uploadedFile.idUploadedFile}"
                                       class="btn btn-primary"  role="button"
                                       onclick="return !window.open(this.href, 'Preview', 'width=1000,height=700')"
                                       target="_blank" th:text="#{details.preview}"></a></li>
        <li class="list-group-item"><a th:href="@{/file/download/}+*{uploadedFile.idUploadedFile}"
                                       class="btn btn-default" role="button" th:text="#{details.download}"></a></li>
        <li class="list-group-item"><span style="white-space: normal;" th:text="*{comment}"/></li>
    </ul>
</div>

</body>
</html>