<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
		<select class="form-control" id="role_select">
		
			  <option th:selected="${session.selectedRole == 'author'}" sec:authorize="hasAuthority('AUTHOR')" th:text="#{common.author}" value="author"></option>
			  <option th:selected="${session.selectedRole == 'reviewer'}" sec:authorize="hasAuthority('REVIEWER')" th:text="#{common.reviewer}" value="reviewer"></option>
			  <option th:selected="${session.selectedRole == 'redactor'}" sec:authorize="hasAuthority('REDACTOR')" th:text="#{common.redactor}" value="redactor"></option>
			  <option th:selected="${session.selectedRole == 'admin'}" sec:authorize="hasAuthority('ADMINISTRATOR')" th:text="#{common.admin}" value="admin"></option>
		</select>
	</html>