<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<div class="nav navbar-nav side-nav" th:switch="${session.selectedRole}">
    <ul th:case="author" style="list-style-type:none;">
        <li>
            <a class="async-link navbar-text" th:href="@{/author/myArticles}"><span th:text="#{sidebar.my.articles}"></span></a>
        </li>
        <li>
            <a class="async-link navbar-text" th:href="@{/author/myArticles/add}"><span th:text="#{sidebar.add.article}"></span></a>
        </li>
    </ul>
    <ul th:case="admin" style="list-style-type:none;">
        <li>
            <a class="async-link navbar-text" th:href="@{/admin/accountManagement}"><span th:text="#{sidebar.manage.users}"></span></a>
        </li>
    </ul>
    <ul th:case="reviewer" style="list-style-type:none;">
        <li>
            <a class="async-link navbar-text" th:href="@{/reviewer/myReviews}"><span th:text="#{sidebar.my.reviews}"></span></a>
        </li>
    </ul>
    <ul th:case="redactor" style="list-style-type:none;">
        <li>
            <a class="async-link navbar-text" th:href="@{/redactor/articles}"><span th:text="#{sidebar.articles}"></span></a>
        </li>
        <li>
            <a class="async-link navbar-text" th:href="@{/redactor/myReviewers}"><span th:text="#{sidebar.my.reviewers}"></span></a>
        </li>
    </ul>
</div>
</html>