<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">
<body>
<section layout:fragment="content">
    <div th:object="${addReviewForm}">
        <form method="post" th:action="@{/reviewer/review/}+ '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" enctype="multipart/form-data" >
                <div class="form-group">
                    <label th:text="#{add.review.decision}" for="decision"> </label>
                    <select id="decision" th:field="*{decision}" class="form-control input-medium result-select">
                        <option th:each="decision : ${T(pl.lodz.p.acadart.models.Decision).values()}"
                                th:value="${decision}" th:text="#{${decision.displayName}}"></option>
                    </select>
                </div>
            <label class="btn btn-primary">
                <span th:text="#{add.review.file}"></span>
                <input type="file" style="display:none;" onchange="$('#upload-file-info').html($(this).val().replace('C:\\fakepath\\', ''))" th:field="*{multipartFile}"/>
            </label>
            <span class='label label-info' id="upload-file-info"></span>
            <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('multipartFile')}"
                 th:errors="*{multipartFile}"></div>
            <div class="alert alert-danger" th:if="${fileTooBig}" th:text="#{${fileTooBig}}"/>
            <div class="form-group">
                <label th:text="#{add.review.comment}" for="reviewers-comment"> </label>
                <textarea class="form-control" rows="3" id="reviewers-comment" type="text"  th:placeholder="#{add.review.comment}"
                          th:field="*{comment}"/>
                <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('comment')}"
                     th:errors="*{comment}"></div>
            </div>
                <tr>
                    <td colspan="2" align="center"><input class="btn btn-primary" type="submit" th:value="#{add.review.submit}" /></td>
                </tr>
            <input type="hidden" th:field="*{idArticle}"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </div>
</section>
</body>
</html>