<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">
<body>
<section layout:fragment="content">
    <div>
        <form method="post" th:action="@{/account/changePassword}" th:object="${changePasswordForm}">
            <div class="alert alert-success" th:if="${successMessage}" th:text="#{${successMessage}}"></div>
            <div id="edit-password-form" class="form-group">
                <label th:for="current-password" th:text="#{edit.user.current.password}"/>
                <input class="form-control" type="password" id="current-password" th:field="*{retypeCurrentPassword}"/>
                <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('retypeCurrentPassword')}"
                     th:errors="*{retypeCurrentPassword}"></div>
                <label th:for="new-password" th:text="#{edit.user.new.password}"/>
                <input class="form-control" type="password" id="new-password" th:field="*{newPassword}"/>
                <div class="alert alert-danger form-group" th:if="${#fields.hasErrors('newPassword')}"
                     th:errors="*{newPassword}"></div>
                <label th:for="confirm-new-password" th:text="#{edit.user.new.password.confirm}"/>
                <input class="form-control" type="password" id="confirm-new-password" th:field="*{confirmNewPassword}"/>
            </div>

            <input type="submit" class="btn btn-primary" th:value="#{edit.my.account.submit}"/>
        </form>
    </div>
</section>
</body>
</html>