<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

<body>

<section layout:fragment="content">
    <form th:action="@{/account/myAccount}" th:object="${baseAccountForm}"
          method="post">
        <div class="row">
    <th:block th:include="fragments/editBaseUserInformation" />
        </div>
        <div class="col-lg-8">
            <div class="form-group">

                <a class="btn btn-primary" id="edit-password-button" th:href="@{/account/changePassword}"><span
                        th:text="#{edit.user.change.password}"></span></a>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-8"></div>
        <input type="submit" class="btn btn-primary" th:value="#{edit.my.account.submit}"/>

        </div>
        <input type="hidden" th:field="*{idAccount}"/>
        <input type="hidden" th:field="*{currentEmail}"/>
        <input type="hidden" th:field="*{currentLogin}" id="current-login"/>
    </form>
    </section>

</body>

</html>

