<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layoutLogin">
<head>
    <title th:text="#{login.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-lg-6 col-lg-offset-3 form-group">
    <form th:action="@{/login}" method="post" class="form-signin">
        <fieldset class="well">
            <h2 class="form-signin-heading" th:text="#{login.title}" th:align="center"/>

                <input id="login" type="text" class="form-control input-lg" th:placeholder="#{login.login}"
                       name="username"
                       required="required" autofocus="autofocus"/>
                <div class="form-group">
                    <input id="password" type="password" class="form-control input-lg"
                           th:placeholder="#{login.password}"
                           name="password" required="required"/>
                </div>
                <div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.sign.in}"/>
                </div>
                <div class="form-group">
                    <a th:href="@{/registration}">
                        <button type="button" class="btn btn-lg secondary btn-block"
                                th:text="#{login.register}">
                        </button>
                    </a>
                </div>
            <div class="alert alert-danger form-group" th:if="${param.error}">
                <p th:text="${session['SPRING_SECURITY_LAST_EXCEPTION']}"></p>
            </div>
            <div class="alert alert-success form-group" th:if="${param.logout}">
                <p th:text="#{login.logged.out}"/>
            </div>
            <div class="alert alert-success form-group" th:if="${param.changed}">
                <p th:text="login changed"/>
            </div>
                <div th:if="${message}" th:text="${message}" class="alert alert-success" role="alert"></div>
                <div th:if="${messageError}" th:text="${messageError}" class="alert alert-danger" role="alert"></div>
        </fieldset>
    </form>
    </div>
</div>
</body>
</html>